.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
    padding: 0 0 0 10px;
    font-weight: 100;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}




/* Title for HUCS in legend */
#legendDiv_huc8_1::before{
 content: "Hydrologic unit code (HUC8)";
 font-weight: bold;
}

/* Hiding the default title from the service */
#legendDiv_huc8 .esriLegendServiceLabel {
    display: none;
   } 

/* Hiding layer name */
.esriLegendLayerLabel {
    display: none;
}

/* #legendDiv_huc8 table tbody tr td{
    display: none;
} */