/* 
Styles.css
_______________
Overwrites a lot of previous styles. 

Mitch Samuels
6/1/2020
*/

/* 
========================
Navbar
========================
*/

/* Mobile menu button */
.navbar-toggle{
	border-color: transparent !important;
	background: transparent !important;
	background-color: transparent !important;
	margin-left: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.navbar-toggle .icon-bar{
	background-color: white !important;
	height: 3px;
}
.navbar-toggle:active,
.navbar-toggle:focus{
	background-color: transparent !important;
	background: transparent !important;
}

/* Navbar Element */
#navbar{
	background-color: #141D3A !important;
	display: flex;
}
.navbar-header{
	flex-grow: 3;
	width: 100%;
	padding-left: 15px;
	box-sizing: border-box;
}

/* Branding - USGS logo */
.navbar-header .branding{
	display: flex;
	height: 100%;
}
.navbar-header .branding .branding-logo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}
.navbar-header .branding .branding-logo img{
	height: 36px;
}

/*Long title header - Shrinks on smaller screens, extended title hidden mobile*/
.header-longtitle{
	font-size:16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
    letter-spacing: -0.2px !important;
    line-height: 16px !important;
	color: white;
	padding: 0 0 2px 15px;
}
.header-longtitle small{
    display: block;
    line-height: 10px;
    font-size: 9pt;
	letter-spacing: -0.25px;
	padding-top: 2px;
}

@media (max-width: 580px) {
	.header-longtitle small{
		display: none;
	}

}
@media (max-width: 500px) {
	.header-longtitle{
		display: none;
	}

}


/* Links at right on navbar */
.nav-buttons{
	display: flex;
	justify-content: flex-end;
	padding-right: 10px;
	flex-grow: 3;
}
.nav-buttons button{
	border: none;
	box-sizing: border-box;
	padding: 0;
	display: flex;
	background-color: transparent !important;
	font-size: 12px;
	text-transform: none !important;
	color: white;
	margin-left: 15px;
	width: fit-content;
	opacity: 1;
}
/* Center text and icon */
.nav-buttons button span,
.nav-buttons button i{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	box-sizing: border-box;
}
/* Button text */
.nav-buttons button i{
	font-size: 16px;
	margin-right: 4px;
}
.nav-buttons button span{
	font-size: 13px;
	line-height: 13px;
	font-weight: 500;
	white-space: pre;
	padding-top: 1px;
	letter-spacing: 0px;
}
/* Hide button text on mobile */
@media (max-width: 767px) {
	.nav-buttons button span{
		display: none;
	}
	.nav-buttons button i{
		margin-right: 0;
		padding-left: 8px;
		padding-right: 8px;
	}
}
.nav-buttons button:hover{
	opacity: 0.85;
}
.nav-buttons button:hover span{
	text-decoration: underline;
	text-decoration-color: white;
}

/* Geosearch nav button */
#geosearchNav{
	background-color: #2286FB !important;
	padding: 0 10px;
}

/* Geosearch modal tweaks */
.supported-search-strings{
	display: block;
	box-sizing: border-box;
	padding: 10px 0;
}
.supported-search-strings label{
	text-align: center;
	display: block;
}

.supported-search-strings ul{
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	justify-content: space-between;
}
.supported-search-strings ul li{
	margin: 2px 8px;
	font-family: monospace;
}
small.credit{
	display: block;
	text-align: center;
	font-size: 11.5px;
	opacity: 0.75;
}



/* Sidebar - hides at md screen, toggle with top menu button */
#sidebar{
	border: none;
	padding: 0;
	border-right: 1px solid rgba(0,0,0,0.35);
	background-color: white;
	max-width: 280px;
	width: 90%;
}
.map-wrapper{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding-left: 280px;
	position: relative;
}
@media (max-width: 992px) {
	.map-wrapper{
		padding-left: 0px;
	}
}

/* Panel/group */
.wim-sidebar-panel{
	margin: 0;
	border-radius: 0;
	border: none;
	padding: 0;
}
/* Title / toggle */
.wim-sidebar-panel .panel-title{
	display: block;
	text-align: left;
	width: 100%;
	font-size: 16px;
	font-weight: 600;
	padding: 15px 15px;
	box-sizing: border-box;
	border-bottom: 1px solid #DADADC;
	position: relative;
	color: #0A0A1E;
}
/* Collapsed  */
.wim-sidebar-panel .panel-title.collapsed{
	color: #5A5A78;
}
/* Panel title arrows */
.wim-sidebar-panel .panel-title:after {
    font-family:'Glyphicons Halflings';
	content:"\e080";
	font-weight: 400;
	font-size: 16px;
	position: absolute;
	height: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	right: 10px;
    color: #0A0A1E;
}
.wim-sidebar-panel .panel-title.collapsed:after {
	content:"\e114";
	color: #5A5A78;
}

/* Panel content */
.panel-body{
	box-sizing: border-box;
	border-bottom: 1px solid #DADADC;
	padding: 10px;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
}

/* Basemap buttons */
.basemap-button{
	display: block;
	border: none;
	background-color: transparent;
	width: 100%;
	text-align: left;
	padding: 0;
}
.basemap-button img,
.basemap-button span{
	display: inline-block;
	height: 30px;
	border-radius: 3px;
	width: auto;
}
.basemap-button img{
}
.basemap-button span{
	padding-left: 6px;
}
.basemap-button:hover span{
	text-decoration: underline;
}


#layerSelect{
	max-width: 100%;
}

.sidebar-radio-group{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.sidebar-radio-group .radio{
	display: flex;
	margin: 0;
}
.sidebar-radio-group .radio label{
	text-align: left;
	font-size: 13px;
}
.sidebar-radio-group .radio input[type=radio]{
	margin: 3px 0 0 0;
}

/* Map Layers */
#displayLandUseRoot{
	margin-bottom: 5px;
}
#layersPanel .btn-default{
	border: none !important;
	background: none !important;
	box-shadow: none !important;
	padding: 0 !important;
	/* padding: 3px 0 !important; */
}

.btn-group-vertical.lyrTog.radioTog{
	margin: 4px 0;
	padding-left: 15px;
}

#sites .btn-default:hover{
	text-decoration: underline;
}
#sites .btn-default i{
	margin-right: 5px;
}

#layersPanel .btn-default i{
	font-weight: 500 !important;
}

#displayLandUse label input{
	pointer-events: none;
}


/* Sidebar Footer */
.footer-links{
    display: block;
    box-sizing: border-box;
    line-height: 1em;
	margin-top: 25px;
	box-sizing: border-box;
	padding: 0 10px;
}
.footer-links .identification a{
	font-size: 12px;
	font-weight: 600;
	color: #505078;
	letter-spacing: 0;
}

.footer-links a{
    display: inline-block;
    box-sizing: border-box;
    padding: 0px 3px;
    font-size: 8pt;
}


/* 
=========================
=========================
Map View
=========================
=========================
*/

/* Lengend */
.legendClass {
    position:absolute;
    top: 15px;
    right:15px;
    z-index:3;
    color: black;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.89);
	border-radius: 3px;
	max-width: 240px;
	border-color: rgba(0,0,0,0.6);
	box-shadow: 0px 7px 15px -2px rgba(30,30,60,0.15) !important;
}
#legendHeading{
	border-radius: 3px;
	background-color: transparent;
}
#legendButton{
	font-size: 14px;
}
#legendButton span{
	margin-right: 5px;
	position: relative;
	top: 1.5px;
}
/* Center title */
.legendClass .panel-title{
	text-align: center;
}
.legendClass .panel-title i{
	font-family: 'Font Awesome 5 Pro';
}

/* Bottom right */
.latLngScale {
	padding:4px;
	margin: 0;
    z-index:1;
	color: black;
	background-color: white;
	box-shadow: 0px 8px 22px -12px rgba(30,30,60,0.25);
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.6);

	position: absolute;
	left: 295px;
	bottom: 15px;
	width: auto;
}
@media (max-width: 992px) {
	.latLngScale{
		left: 10px;
	}
}
#homeButton,
#locateButton{
	position: absolute;
	left: 286px;
}
@media (max-width: 992px) {
	#homeButton,
	#locateButton{
		position: absolute;
		left: 6px;
	}
}
#homeButton .home,
#locateButton .zoomLocateButton{
	background-color: rgba(0,0,40,0.8);
}
.latLngScale:hover .hover-content {
    display:inline-block;
}


/* Other Global Styles */
.no-scrollbars{
	scrollbar-width: none;
}
.no-scrollbars::-webkit-scrollbar{
	width: 0px;
	display: none;
}
.no-scrollbars::-webkit-scrollbar-thumb{
	display: none;
	width: 0px;
}

/* Custom Legend */
.custom-legend{
	display: block;
	box-sizing: border-box;
	padding: 10px;
	width: 280px;
}
.custom-legend .legend-row{
	display: flex;
	justify-content: space-between;
	padding: 4px 0;
}
.custom-legend .legend-row .legend-icon{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.custom-legend .legend-row .legend-icon img{
	height: 16px;
	width: auto;
}

.custom-legend .legend-row .legend-text{
	flex-grow: 3;
	font-size: 13px;
	padding-left: 10px;
	font-weight: 400;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


/* 
=========================
=========================
Modals
=========================
=========================
*/

.modal{
	z-index: 10003 !important;
}

.modal-wrapper{
	display: flex;
	flex-direction: column;
	height: 100vh;
}
/* Modal content - contains modal-header, modal-body, modal-buttons */
.modal-content{
	box-shadow: none;
	border: none;
	display: flex;
	flex-direction: column;
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
	max-height: 80vh;
	min-height: 340px;
	top: 8vh;
	box-shadow: 0px 15px 25px -4px rgba(30,30,60,0.25);
}

/* Mobile - move to bottom, full width */
@media (max-width: 580px) {
	.modal-content{
		border: none;
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0 auto;
		max-height: 80vh;
		min-height: 340px;
		bottom: 0px;
		top: auto;
		position: absolute;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		border-top-right-radius: 22px;
		border-top-left-radius: 22px;
	}
}


.modal-content.small{
	min-height: 200px;
	max-width: 400px;
}
@media (max-width: 580px) {
	.modal-content.small{
		max-width: none;
	}
}

/* Site info modal */
.modal-content .panel-heading{
	padding: 0;
}

.modal-top{
	display: flex;
	box-sizing: border-box;
	padding: 0 15px 0px 15px;
	width: 100%;
	justify-content: space-between;
	min-height: 50px;
}
.modal-top b{
	flex-grow: 3;
	line-height: 18px;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-weight: 500;
}
.modal-top .close{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	color: rgba(0,0,0,0.25);
	float: none;
	font-size: 20px;
	opacity: 1;
	transition: 0.15s;
}
.modal-top .close:hover{
	opacity: 1;
	color: #000;
	transition: 0.15s;
}

/* Modal body */
.modal-body{
	flex-grow: 3;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	border-top: 1px solid rgba(0,0,0,0.1);
	overflow: auto;
	padding: 15px;
}

/* Modal body with tabs */
.modal-body.tabs{
	height: 54vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding: 0;
}
.modal-body.tabs .nav-tabs{

}
	.modal-body.tabs .nav-tabs li{
	}
		.modal-body.tabs .nav-tabs li a{
			font-size: 13px;
			color: rgba(0,0,0,0.75);
			border-top: none;
			border-radius: 0;
		}	
		.modal-body.tabs .nav-tabs li:not(.active) a:hover{
			text-decoration: underline;
			background-color: rgba(0,0,20,0.05);
			border-color: transparent;
		}	
	.modal-body.tabs .nav-tabs li.active{
	}
	.modal-body.tabs .nav-tabs li.active a{
		background-color: #2078E2;
		color: #fff;
	}
.modal-body.tabs .tab-content{
	flex-grow: 3;
	overflow: auto;
	box-sizing: border-box;
	padding: 15px;
}
.modal-body.tabs .tab-content.no-padding{
	padding: 0px 15px;
}
.tab-pane p{
	font-size: 14px;
	line-height: 24px;
}

/* Modal Buttons */
.modal-buttons{
	min-height: 60px;
	display: flex;
	justify-content: space-around;
	box-sizing: border-box;
	padding: 13px 15px;
}
.modal-buttons button{
	display: block;
	height: 34px;
	background-color: white;
	border: 1px solid rgba(0,0,0,0.4);
	font-size: 15px;
	font-weight: 500;
	padding: 0 15px;
	border-radius: 3px;
	transition: 0.15s;
}
.modal-buttons button:hover{
	background-color: white;
	border: 1px solid rgba(0,0,0,0.5);
	transition: 0.15s;
	text-decoration: underline;
}
.modal-buttons button.blue{
	background-color: #2078E2;
	color: white;
}
.modal-buttons button.blue:hover{
	color: white;
}
.modal-buttons button.red{
	background-color: #F33F4A;
	color: white;
}
.modal-buttons button.red:hover{
	color: white;
}


/* 
/////////////
/////////////
Site info Modal
/////////////
/////////////
*/
#siteInfoDiv{
    position: absolute;
    width:500px;
	height:700px;
	max-height: 90vh;
    z-index:2;
    background-color: rgba(255,255,255,0.85);
	box-shadow: 0px 15px 25px -4px rgba(30,30,60,0.25);
    border-radius: 3px;
    visibility: hidden;
}

/* Mobile - move to bottom, full width */
@media (max-width: 580px) {
	#siteInfoDiv{
		width: 90vw;
		max-height: 80vh;
		min-height: 340px;
		height: 70vh;
		left: 5vw;
		position: absolute;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		border-top-right-radius: 22px;
		border-top-left-radius: 22px;
	}
}

#siteInfoTabPane{
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 28px;
	font-size: 14px;
	font-family: monospace;
	font-size: 16px;
}
#siteInfoTabPane b{
	opacity: 0.85;
	font-weight: 700;
	font-size: 14px;
	margin-right: 4px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#chartDiv{
	width: 100%;
	height: 300px;
}

/* Below slider */
#trendSection{
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 15px;
	border-radius: 3px;
	border: 1px solid #F4F4F4;
	background-color: #F9F9FB;
	margin-bottom: 15px;
}
#trendHelp{
	display: block;
	text-align: center;
	font-style: italic;
	font-size: 12px;
}
#trend-period-slider{
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Data below slider */
.pval-wrapper{
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	padding: 5px 0;
}
.pval-wrapper label{
	margin: 0;
	margin-right: 8px;
	padding: 0 5px 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	text-align: right;
}
.pval-wrapper label span{
	font-weight: 600;
	font-size: 14px;
}
.pval-wrapper label small{
	font-size: 11px;
	line-height: 11px;
	font-weight: 400;
}
.pval-wrapper .pval-val{
	color: #21851e;
	box-sizing: border-box;
	font-weight: 600;
	padding: 0 0 0 5px;
	width: 50%;
}

#trendCalcButton{
	display: block;
	margin: 0 auto;
	background-color: #2078E2;
	color: white;
	padding: 7px 15px;
	border: none;
	transition: 0.2s;
	border-radius: 3px;
	font-weight: 500;
	margin-top: 15px;
}
#trendCalcButton:hover{
	text-decoration: underline;
	transition: 0.2s;
}


/* 
/////////////
/////////////
Misc
/////////////
/////////////
*/
label{
	font-weight: 600;
}

.text-fade{
	color: black;
	opacity: 0.35;
}

.help-tooltip{
	transition: 0.15s;
	color: #2078FF;
}
.help-tooltip:hover{
	cursor: pointer;
	color: #0C5496;
}